# Terraform files
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# Crash log files
crash.log
# Ignore local environment files
*.tfvars
*.tfvars.json

# Ignore sensitive files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# IDE files
.vscode/
*.swp
